@font-face {
  font-family: "Americanatest";
  font-display: swap;
  src: url("../fonts/Americanatest.woff") format("woff"), url("../fonts/Americanatest.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro.woff") format("woff"), url("../fonts/MyriadPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN2014";
  font-display: swap;
  src: url("../fonts/DIN2014-Bold.woff") format("woff"), url("../fonts/DIN2014-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN2014";
  font-display: swap;
  src: url("../fonts/DIN2014-Regular.woff") format("woff"), url("../fonts/DIN2014-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN2014-Demi";
  font-display: swap;
  src: url("../fonts/DIN2014-Demi.woff") format("woff"), url("../fonts/DIN2014-Demi.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}



