// Double-class identifier gives more specificity, allowing to override styles
// specified later for merely ".container"
.container.main-content {
  /* FIXME: left/right padding is a temporary value, needs some thought/review. */
  padding-left: 15px;
}

@include media-breakpoint-up(md) {}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}