/**
 * IMPORTANT: In order to preserve CSS specificity, CSS identifiers and nested
 * SCSS structures are replicated here, per the given _[source].scss file.
 */

// From _siteBody-default.scss:
body .siteBody {
  padding-left: $horizontal-spacing;
  padding-right: $horizontal-spacing;
}

@include media-breakpoint-up(md) {
  body .siteBody {
    padding-left: $horizontal-spacing-md;
    padding-right: $horizontal-spacing-md;
  }
}

@include media-breakpoint-up(xl) {
  body .siteBody {
    padding-left: $horizontal-spacing-xl;
    padding-right: $horizontal-spacing-xl;
  }
}

@include media-breakpoint-up(xxl) {
  body .siteBody {
    padding-left: $horizontal-spacing-xxl;
    padding-right: $horizontal-spacing-xxl;
  }
}

