/**
 * IMPORTANT: In order to preserve CSS specificity, CSS identifiers and nested
 * SCSS structures are replicated here, per the given _[source].scss file.
 */

// Double-class identifier gives more specificity, allowing to override styles
// specified later for merely ".container"
.container.main-content, .container.bottom-content, .footer {
  padding-left: $horizontal-spacing;
  padding-right: $horizontal-spacing;
}

// From _blog.scss:
.blog.content-category-custom {
  .page-header {
    .subheading-category {
      left: $horizontal-spacing;
    }
  }
}

// From _header.scss
header.header {
  .header__left {
    left: $horizontal-spacing;
  }
}

// From _home.scss
body.view-featured {
  div#osrthorizon-position-3 {
    .mod-custom.custom {
      .banner-block {
        padding-left: $horizontal-spacing;
      }
    }
  }
  div#osrthorizon-position-4 {
    ul.navbar-nav {
      li {
        a {
          span.image-title {
            left: $horizontal-spacing;
          }
        }
      }
    }
    .mod-custom.custom {
      padding-left: $horizontal-spacing;
      padding-right: $horizontal-spacing;
    }
  }
  div#osrthorizon-position-5 {
    .moduletable.-test-news {
      ul.newsflash-horiz {
        li {
          h2.newsflash-title {
            a {
              padding-left: $horizontal-spacing;
            }
          }
        }
      }
    }
    .main-content__morenews  {
      padding-left: $horizontal-spacing;
    }
  }
  div#osrthorizon-position-7 {
    .home-members-block {
      .mod-custom {
        background-position-x: $horizontal-spacing;
      }
    }
  }
  .siteBody {
    // Default .siteBody has left padding, but we don't want it on view-featured pages.
    padding-left: 0px;
    .blog-featured {
      .item-title a {
        padding-left: $horizontal-spacing;
      }
    }
  }
}

// From _view-category.scss
body.view-category {
  .siteBody {
    // Default .siteBody has left padding, but we don't want it on view-category pages.
    padding-left: 0px;
  }
}


@include media-breakpoint-up(md) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-md;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-md;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-md;
    }
  }
  body.view-featured {
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          a {
            span.image-title {
              left: $horizontal-spacing-md;
            }
          }
        }
      }
      .mod-custom.custom {
        padding-left: $horizontal-spacing-md;
        padding-right: $horizontal-spacing-md;
      }
    }
    div#osrthorizon-position-5 {
      .moduletable.-test-news {
        ul.newsflash-horiz {
          li {
            h2.newsflash-title {
              a {
                padding-left: $horizontal-spacing-md;
              }
            }
          }
        }
      }
      .main-content__morenews  {
        padding-left: $horizontal-spacing-md;
      }
    }
    div#osrthorizon-position-7 {
      .home-members-block {
        .mod-custom {
          background-position-x: $horizontal-spacing-md;
        }
      }
    }
    .siteBody {
      .blog-featured {
        .item-title a {
          padding-left: $horizontal-spacing-md;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-xl;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-xl;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-xl;
    }
  }
  body.view-featured {
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          a {
            span.image-title {
              left: $horizontal-spacing-xl;
            }
          }
        }
      }
      .mod-custom.custom {
        padding-left: $horizontal-spacing-xl;
        padding-right: $horizontal-spacing-xl;
      }
    }
    div#osrthorizon-position-5 {
      .moduletable.-test-news {
        ul.newsflash-horiz {
          li {
            h2.newsflash-title {
              a {
                padding-left: $horizontal-spacing-xl;
              }
            }
          }
        }
      }
      .main-content__morenews  {
        padding-left: $horizontal-spacing-xl;
      }
    }
    div#osrthorizon-position-7 {
      .home-members-block {
        .mod-custom {
          background-position-x: $horizontal-spacing-xl;
        }
      }
    }
    .siteBody {
      .blog-featured {
        .item-title a {
          padding-left: $horizontal-spacing-xl;
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-xxl;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-xxl;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-xxl;
    }
  }
  body.view-featured {
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          a {
            span.image-title {
              left: $horizontal-spacing-xxl;
            }
          }
        }
      }
      .mod-custom.custom {
        padding-left: $horizontal-spacing-xxl;
        padding-right: $horizontal-spacing-xxl;
      }
    }
    div#osrthorizon-position-5 {
      .moduletable.-test-news {
        ul.newsflash-horiz {
          li {
            h2.newsflash-title {
              a {
                padding-left: $horizontal-spacing-xxl;
              }
            }
          }
        }
      }
      .main-content__morenews  {
        padding-left: $horizontal-spacing-xxl;
      }
    }
    div#osrthorizon-position-7 {
      .home-members-block {
        .mod-custom {
          background-position-x: $horizontal-spacing-xxl;
        }
      }
    }
    .siteBody {
      .blog-featured {
        .item-title a {
          padding-left: $horizontal-spacing-xxl;
        }
      }
    }
  }
}

