$horizontal-spacing: 25px;
$horizontal-spacing-md: 25px;
$horizontal-spacing-xl: 30px;
$horizontal-spacing-xxl: 36px;

// Double-class identifier gives more specificity, allowing to override styles
// specified later for merely ".container"
.container.main-content, .container.bottom-content, .footer {
  max-width: 1770px;
  padding-left: $horizontal-spacing;
  padding-right: $horizontal-spacing;
}
.blog.content-category-custom {
  .page-header {
    .subheading-category {
      left: $horizontal-spacing;
    }
  }
}
header.header {
  .header__left {
    left: $horizontal-spacing;
  }
}

@include media-breakpoint-up(md) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-md;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-md;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-md;
    }
  }
}

@include media-breakpoint-up(xl) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-xl;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-xl;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-xl;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .container.main-content, .container.bottom-content {
    padding-left: $horizontal-spacing-xxl;
  }
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        left: $horizontal-spacing-xxl;
      }
    }
  }
  header.header {
    .header__left {
      left: $horizontal-spacing-xxl;
    }
  }
}
