.blog.content-category-custom {
  .page-header {
    position: relative;
    .subheading-category {
      position: absolute;
      font-weight: 700;
      font-size: 50px;
      max-width: 975px;
      bottom: 20px;
      z-index: 1;
      color: #fff;      
    }
    .page-header-image {
      height: 300px;
      img {
        height: 300px;
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }    
    h2 {
      margin: 0px;
    }
  }
  .page-header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
  }
  /* The actual category page header gets a darker overlay */
  > .page-header::after {
    background: rgba(0,0,0,0.35);
  }
  
  .main-content__left .page-header {
    display: inline-block;
    position: relative;
    top: unset;
    left: unset;
    margin-bottom: 30px;
    padding: 18px 20px 19px 0;   
    // Ensure header (including its pointy tail, which is 74px wide) never 
    // exceeds the width of main-content__left.
    max-width: calc(100% - 74px);
    h2 {
      font-family: 'DIN2014-Demi', sans-serif;
      font-size: 28px;
      font-weight: 700;
      color: $dark-color;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      line-height: normal;      
    }
    h2:after, h2:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
    }
    h2:after {
      right: 0;
      transform: translate(100%, -50%);
      border-style: solid;
      border-width: 74px 74px 0 0;
      border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;      
    }
    h2:before {
      left: 0;
      transform: translate(-100%, -50%);
      height: 100%;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.1);      
    }
  }
  
  a.section-header-link {
      position: absolute;
      top: -50px;
      visibility: hidden;
  }  
}

.blog.blog-proffesionals {
  .page-header::after{
      background-color: rgba($orange-color, 0.2);      
  }
  > .page-header::after{
      background-color: rgba($orange-color, 0.5);      
  }
  .main-content__left .page-header {
      h2:after {
        border-color: rgba($orange-color, 0.2) transparent transparent transparent;
      }
      h2:before {
        background-color: rgba($orange-color, 0.2);
      }
  }  
  .category-desc p:first-of-type {
    color: $orange-color;  
  }
  .block-stiky {
    border-color: $orange-color;
    li:hover {
      color: $orange-color;
    }      
  }
}
.blog.blog-advocacy {
  .page-header::after {
      background-color: rgba($green-color, 0.2);
  }  
  > .page-header::after {
      background-color: rgba($green-color, 0.5);
  }  
  .main-content__left .page-header {
      h2:after {
        border-color: rgba($green-color, 0.2) transparent transparent transparent;
      }
      h2:before {
        background-color: rgba($green-color, 0.2);
      }
  }  
  .category-desc p:first-of-type {
    color: $green-color;  
  }
  .block-stiky {
    border-color: $green-color;
    li:hover {
      color: $green-color;
    }      
  }
}
.blog.blog-education {
  .page-header::after {
      background-color: rgba($blue-color, 0.2);
  }  
  > .page-header::after {
      background-color: rgba($blue-color, 0.5);
  }  
  .main-content__left .page-header {
      h2:after {
        border-color: rgba($blue-color, 0.2) transparent transparent transparent;
      }
      h2:before {
        background-color: rgba($blue-color, 0.2);
      }
  }  
  .category-desc p:first-of-type {
    color: $blue-color;  
  }
  .block-stiky {
    border-color: $blue-color;
    li:hover {
      color: $blue-color;
    }      
  }
}
.blog.blog-foundation {
  .page-header::after{
      background-color: rgba($yellow-color, 0.2);
  }
  > .page-header::after{
      background-color: rgba($yellow-color, 0.5);
  }
  .main-content__left .page-header {
      h2:after {
        border-color: rgba($yellow-color, 0.2) transparent transparent transparent;
      }
      h2:before {
        background-color: rgba($yellow-color, 0.2);
      }
  }  
  .category-desc p:first-of-type {
    color: $yellow-color;  
  }
  .block-stiky {
    border-color: $yellow-color;
    li:hover {
      color: $yellow-color;
    }      
  }
}


.blog {
  .main-content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .main-content__left {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      color: $white-color;
      background-color: $btn-bg-color;
      border-radius: 13px;    
    }
  }
  .main-content__right {
    display: none;
    margin-left: 25px;
  }
  .block-stiky {
    position: sticky;
    left: 0;
    top: 0;
    width: 200px;
    padding-left: 16px;
    border-left: 1px solid rgba(0,0,0,0.1);
    ul {
      padding: 0;
      li {
        font-size: 28px;
        line-height: 34px;
        display: block;
        margin-bottom: 20px;
        cursor: pointer;      
      }
      li.spy-active {
        font-weight: 700;        
      }
    }
    li:hover {
      color: $login-bg-color;
    }      
  }
  .block-stiky.fixed {
    top: 25px;
    
  }  
  .category-desc {
      font-size: 30px;
      line-height: 36px;
      color: $title-color;
      margin-bottom: 50px;
  }  
  .item p, .item li {
    font-size: 28px;
    line-height: 34px;
    margin: 15px 0;
  }  
}

@include media-breakpoint-up(md) {
  blog.content-category-custom {
    .page-header {
      .subheading-category {
        font-size: 60px;
      }
      .page-header-image {
        height: 350px;
        img {
          height: 350px;
        }
      }
    }
  }
  .blog {
    .category-desc {
        font-size: 33px;
        line-height: 48px;
    }    
    .main-content__right {
      display: block;
    }
  }
}

@include media-breakpoint-up(xl) {
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        font-size: 100px;
      }
      .page-header-image {
        height: 450px;
        img {
          height: 450px;
        }
      }
    }
  }

  .blog {
    .main-content {
      padding-top: 80px;
    }
    .category-desc {
      font-size: 28px;
      line-height: 38px;
    }    
  }
}

@include media-breakpoint-up(xxl) {
  .blog.content-category-custom {
    .page-header {
      .subheading-category {
        font-size: 170px;
        line-height: 160px;
      }
      .page-header-image {
        height: 450px;
        img {
          height: 450px;
        }
      }
    }
  }
  .blog {
    .main-content {
      padding-top: 100px;
    }
    .category-desc {
      font-size: 54px;
      line-height: 72px;    
    }    
  }
}
