/* Styles for phocadownload pages.
*/
body.com_phocadownload div.siteBody-component {
  div.pd-category {
    div.ph-top {
      display: none;
    }
    div.pd-subcategory,
    div.row {
      font-size: 20px;
    }
    div.pd-button-box-bt {
      a {
        background-color: $btn-bg-color;
        border-color: $btn-bg-color;
        color: $white-color;
        font-size: 20px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(xl) {
}