/* Styles for article content built with com_content/article/default.php
*/
div.com-content-article {
  div.page-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-direction: column;
  }
  dl.article-info.text-muted {
    dt.article-info-term {
      display: none;
    }
    dd.published {
      span.icon-calendar {
        display: none;
      }
      time {
        font-family: "DIN2014-Demi", sans-serif;
        font-size: 24px;
        color: $pagination-color;
        padding-top: 12px;
        display: inline-block;
        text-align: right;
      }
    }
  }
  nav.pagenavigation {
    padding: 0 25px;
    span.pagination {
      justify-content: space-between;
    }
    a {
      background-color: transparent;
      color: $pagination-color;
      font-size: 28px;
      border: none;
      .icon-chevron-left, .icon-chevron-right {
        position: relative;
      }
      .icon-chevron-left:before, .icon-chevron-right:before {
        display: inline-block;
        position: relative;
        border: solid 15px transparent;
        content: "";
        top: 5px;
      }
      span.icon-chevron-left::before {
        border-right: solid 15px $pagination-color;
        right: 12px;
      }
      span.icon-chevron-right::before {
        border-left: solid 15px $pagination-color;
        left: 12px;
      }
    }
    a.previous {
      text-align: left;
    }
    a.next {
      text-align: right;
    }
    a:hover, a:active, a.active {
      background-color: $pagination-color;
      color: $white-color;
      span.icon-chevron-left::before {
        border-right-color: $white-color;
      }
      span.icon-chevron-right::before {
        border-left-color: $white-color;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  div.com-content-article {
    div.page-header {
      flex-direction: row;
      dl.article-info.text-muted {
        dd.published {
          time {
            font-size: 26px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  div.com-content-article {
    div.page-header {
      dl.article-info.text-muted {
        dd.published {
          time {
            font-size: 28px;
          }
        }
      }
    }
  }
}