/**
 * Syles for "employee" images in whos-who page.
 */
div.employees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  gap: 80px 60px;
  margin: 50px 0 110px;
  /* DEVELOPER NOTE: looking at this some months after it was written, I'm not
   * sure if it's needed. I know there is a `div.employees.employees-block`, but I
   * don't know if there's a `div.employees .employees-block`
   */
  .employees-block {
    width: 170px;
    height: 170px;    
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;      
    }
    .employees__text {
      color: $pagination-color;
      font-size: 20px !important;
      line-height: 22px !important;
      margin: 5px 0 !important;
      a {
        color: $btn-bg-color;
        background-color: inherit;
        padding: 0px !important;
        font-size: inherit !important;
        font-family: inherit;
        display: inherit;        
      }
    }
  }
  p {
    max-width: 180px;
    img {
      width: 100%;
    }
  }
  span.osrt-past-president-image-caption {
    /*display: block;*/
  }
  
}
@include media-breakpoint-up(md) {
  div.employees {
    .employees-block {
      width: 200px;
      height: 200px;    
      .employees__text {
        font-size: 22px !important;
      }
    }
    p {
      max-width: 200px;
    }

  }
}
@include media-breakpoint-up(xl) {
  div.employees {
    .employees-block {
      width: 260px;
      height: 260px;    
      .employees__text {
        font-size: 24px !important;
        line-height: 29px;
        margin-left: 20px !important;
      }
    }    
    p {
      max-width: 250px;
    }
  }
}
@include media-breakpoint-up(xxl) {
  div.employees {
    .employees-block {
    }    
  }  
}

