.main-content__top {
  position: relative;
  font-size: 28px;
  color: var(--dark-color);
  cursor: pointer;
}
.main-content__top::after {
  content: '';
  position: absolute;
  left: 0;
  top: -35px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent $orange-color transparent;
}
.footer {
  background-color: $gray-color;
  overflow: hidden;
  .footer-block {
    display: flex;
    justify-content: flex-end;
    img {
      width: 75%;
    }
  }
  .footer-main {
    img {
      max-width: 130px;
    }
    .rssocial-container {
      text-align: right;
      display: block;
      position: relative;
      top: -40px;
      z-index: 1;
      .rssocial-icons > li {
        font-size: 28px;
        .rssocial-link {
          // Note: background color is now part of module configuration.
          padding: 0 0.4em;
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    ul {
      max-width: 200px;
      li {
        a {
          padding: 0;
          font-size: 20px;
          line-height: inherit;
          transition: color .3s ease-in-out;
          color: $dark-color;
          font-family: 'DIN2014', sans-serif;
          font-weight: 400;
          margin-bottom: .4em;
          display: inherit;
        }
      }
      li.active {
        a {
          color: $white-color;
        }
      }
      li:first-child a {
        font-weight: 700;
      }
    }
    ul:first-child li a {
      font-weight: 700;
    }
  }
  @include media-breakpoint-up(md) {
    .footer-block {
      img {
        width: 600px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .footer-block {
      img {
        width: auto;
      }
    }
    .footer-main {
      img {
        max-width: 100%;
      }
    }
    .footer-bottom {
      ul {
        li {
          a {
            font-size: 24px;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    .footer-bottom {
      ul {
        li {
          a {
            font-size: 28px;
          }
        }
      }
    }
  }
}
  