header.header {
  .burger {
    display: block;
    background: transparent;
    border: none;
    order: 2;
    align-self: flex-end;
    div {
      width: 32px;
      height: 20px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      position: relative;
      margin: 10px 50px 0 34px
    }
    div span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      display: inline-block;
      background-color: #fff;
    }

    div::before, div::after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    div::after {
      top: auto;
      bottom: 0;
    }
  }
  
  .header__left {
      padding: 20px 0 20px 15px;
  }
  .brand img, .footer-main img {
    width: 130px;
    height: auto;
    margin-bottom: 7px;
  }
  .position-0 {
    display: flex;
    justify-content: flex-end;

    // Search button:
    #preheadermenu {
      margin-right: 1em;
      li a {
        font-family: 'DIN2014-Demi', sans-serif;
        display: inline-block;
        padding: 5px 13px 3px;
        background-color: $white-color;
        border-radius: 0 0 15px 15px;
        font-size: 30px;
        color: $orange-color;
        width: 140px !important;
        box-shadow: none !important;
        height: 50px !important;
        text-align: center;
        margin: 0 !important;      
      }
    }
    
    // social icons:
    div.rssocial-container {
        margin: 0;
        margin-right: 1em;
    }

    // "jtl login" login button
    div#jtl button.modal-toggle,
    form.mod-login-logout div.logout-button button {
      font-family: 'DIN2014-Demi', sans-serif;
      display: inline-flex;
      align-items: flex-end;
      padding: 10px 13px 3px !important;
      background-color: $login-bg-color !important;
      border-radius: 0px !important;
      border-bottom-left-radius: 15px !important;
      border-color: transparent;
      font-size: 30px;
      color: $white-color !important;
      width: 140px !important;
      justify-content: center;
      box-shadow: none !important;
      height: 50px !important;
      text-align: center;
      margin: 0 !important;      
    }
    
  }

  // "lines" image
  img.header-img {
      transform: translateY(100px);
  }
  
  @include media-breakpoint-up(md) {
    .burger {
      display: none;
    }
  }
  @include media-breakpoint-up(xl) {
    .brand img, .footer-main img {
      width: initial;
    }
  }

}