/* Homepage is article 136. */
body.itemid-136 {
  div#osrthorizon-position-3 {
    .mod-custom.custom {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .banner-block {
        min-height: 450px;
        padding-top: 100px;
        padding-right: 35px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: $darkening-overlay-color;
        color: $white-color;
        .banner__title-home {
          font-size: 48px;
          font-weight: 700;
        }
        .banner__description {
          font-size: 36px;
          line-height: 48px;
          font-family: 'DIN2014-Demi', sans-serif;
          max-width: 825px;
        }
      }
    }
  }
  div#osrthorizon-position-4 {
    ul.navbar-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: relative;
      margin-bottom: 60px;
      li {
        grid-column: span 2;
        height: 284px;
        position: relative;
        a {
          font-family: 'DIN2014-Demi', sans-serif;
          font-size: 50px;
          color: $white-color;
          line-height: 50px;
          display: block;
          padding: 0px;
          img {
            object-fit: cover;
            width: 100%;
            height: 284px;
            display: block;
          }
          span.image-title {
            font-size: 32px;
            line-height: 36px;
            position: absolute;
            top: 25px;
            max-width: 400px;
            color: #fff;
            z-index: 2;
          }
        }
        a::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        a.orange::after {
          background-color: rgba($orange-color, 0.5);
        }
        a.green::after {
          background-color: rgba($green-color, 0.5);
        }
        a.blue::after {
          background-color: rgba($blue-color, 0.5);
        }
        a.yellow::after {
          background-color: rgba($yellow-color, 0.5);
        }
      }
    }
    ul.navbar-nav::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 50px 0 50px;
      border-color: #e6e6e6 transparent transparent transparent;
      position: absolute;
      transform: translate(-50%, 140%);
      left: 50%;
      bottom: 0;
    }

    .mod-custom.custom {
      padding-top: 80px;
      /* padding-left: see _alignment.scss */
      /* padding-right: see _alignment.scss */
      padding-bottom: 15px;
      p {
        font-size: 28px;
        line-height: 40px;
        color: $title-color;
        a {
          font-family: "DIN2014-Demi", sans-serif;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 5px 15px;
          color: $white-color;
          background-color: $blue-color;
          height: 70px;
          width: 240px;
          font-size: 24px;
          border-radius: 12px;
        }
      }
    }
  }
  div#osrthorizon-position-5 {
    .moduletable.-test-news {
      margin-top: 60px;
      margin-bottom: 35px;
      .home-news__title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'DIN2014-Demi', sans-serif;
        font-size: 56px;
        color: $news-title-color;
        overflow: hidden;
        margin-bottom: 20px;
      }
      .home-news__title::before, .home-news__title::after  {
        content: '';
        display: inline-block;
        position: relative;
        top: -5px;
        width: 50%;
        height: 1px;
        vertical-align: middle;
        background: $news-title-color;
      }
      .home-news__title::before {
        left: -25px;
        margin-left: -50%;
      }
      .home-news__title::after {
        left: 25px;
        margin-right: -50%;
      }
      ul.newsflash-horiz {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 30px;
        display: grid;
        li {
          grid-column: 2 span;
          position: relative;
          height: 260px;
          background: $gray-color;
          h2.newsflash-title {
            position: absolute;
            height: 100%;
            width: 100%;
            a {
              font-family: 'DIN2014-Demi', sans-serif;
              color: $white-color;
              display: inline-block;
              height: 100%;
              width: 100%;
              padding-top: 30px;
              // padding-left: see _alignment.scss
              padding-right: 10%;
              font-size: 32px;
            }
          }
        }
      }
    }
    .main-content__morenews  {
      padding-top: 0px;
      margin: 35px 0px;
      a {
        font-size: 24px;
        border-radius: 12px;

        font-family: "DIN2014-Demi", sans-serif;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        color: $white-color;
        background-color: $blue-color;
        height: 70px;
        width: 240px;
      }
    }
  }
  div#osrthorizon-position-7 {
    margin-bottom: 25px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    display: grid;
    grid-column-gap: 10px;
    .home-members-block {
      background-color: $background-banner;
      position: relative;
      h3 {
        font-family: 'DIN2014-Demi', sans-serif;
        color: $title-color;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 26px;
        left: 36%;
        margin-left: 30px;
      }
      .mod-custom {
        height: 200px;
        background-size: 115px;
        background-position-y: center;
        // background-position-x: see _alignment.scss
        background-repeat: no-repeat;
        padding-top: 70px;
        padding-right: 11px;
        padding-bottom: 0px;
        // padding-left: see _alignment.scss

        a {
          position: absolute;
          right: 11px;
          bottom: 0;
          font-family: 'DIN2014-Demi', sans-serif;
          display: inline-flex;
          background-color: $login-bg-color;
          color: $white-color;
          border-bottom-left-radius: 0;
          align-items: center;
          justify-content: center;
          padding: 0;
          min-height: 50px;
          font-size: 24px;
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          height: 45px;
          width: 130px;
        }
      }
    }
  }
  .siteBody {
    position: relative;
    .blog-featured {
      margin-bottom: 25px;
      .label-warning {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
      }
      .item-title a {
        padding-top: 65px;
        font-size: 56px;
        line-height: 60px;
        height: 100%;
        font-family: 'DIN2014-Demi', sans-serif;
        color: $white-color !important;
        z-index: 1;
        position: absolute;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  body.itemid-136 {
    div#osrthorizon-position-3 {
      .mod-custom.custom {
        .banner-block {
          .banner__title-home {
            font-size: 62px;
          }
          .banner__description {
            font-size: 50px;
            line-height: 60px;
          }
        }
      }
    }
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          a {
            span.image-title {
              font-size: 36px;
            }
          }
        }
      }
      .mod-custom.custom {
        p {
          font-size: 33px;
          line-height: 48px;
        }
      }
    }
    div#osrthorizon-position-5 {
      .moduletable.-test-news {
        ul.newsflash-horiz {
          li {
            h2.newsflash-title {
              a {
                font-size: 42px;
              }
            }
          }
        }
      }
      .main-content__morenews  {
        padding-top: 0px;
        margin: 35px 0px;
        a {
          font-size: 28px;
          border-radius: 15px;
        }
      }
    }
    div#osrthorizon-position-7 {
      .home-members-block {
        h3 {
          font-size: 30px;
        }
        .mod-custom {
          height: 275px;
          a {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-size: 30px;
            width: 154px;
            height: 50px;
          }
        }
      }
    }
    .siteBody {
      .blog-featured {
        .item-title a {
          padding-top: 70px;
          font-size: 70px;
          line-height: 100px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  body.itemid-136 {
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          a {
            span.image-title {
              font-size: 42px;
              line-height: 50px;
            }
          }
        }
      }
      .mod-custom.custom {
        p {
          font-size: 42px;
          line-height: 50px;
        }
      }
    }
    div#osrthorizon-position-7 {
      margin-bottom: 50px;
      .home-members-block {
        h3 {
          font-size: 42px;
          left: 27%;
          margin-left: 50px;
        }
        .mod-custom {
          background-size: auto;
          a {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-size: 30px;
            width: 154px;
            height: 50px;
          }
        }
      }
    }
    .siteBody {
      .blog-featured {
        .item-title a {
          padding-top: 110px;
          font-size: 100px;
          line-height: 130px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  body.itemid-136 {
    div#osrthorizon-position-4 {
      ul.navbar-nav {
        li {
          grid-column: span 1;
          a {
            span.image-title {
            }
          }
        }
      }
      .mod-custom.custom {
        p {
          font-size: 62px;
          line-height: 75px;
          max-width: 1300px;
        }
      }
    }
    div#osrthorizon-position-5 {
      .moduletable.-test-news {
        ul.newsflash-horiz {
          grid-template-columns: repeat(3, 1fr) !important;
          gap: 29px 54px;
          li {
            grid-column: revert;
            h2.newsflash-title {
              a {
                font-size: 42px;
              }
            }
          }
        }
      }
    }
    div#osrthorizon-position-7 {
      margin-bottom: 50px;

      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      .home-members-block {
        h3 {
          font-size: 50px;
          left: 50%;
        }
        .mod-custom {
          background-size: auto;
          a {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-size: 30px;
            width: 154px;
            height: 50px;
          }
        }
      }
    }
    .siteBody {
      .blog-featured {
        margin-bottom: 50px;
        .item-title a {
          font-size: 130px;
          line-height: 188px;
        }
      }
    }
  }
}