// FIXME: Links at http://osrtandromeda.l/about-us#contact-us do not show $orange-color as they do in j3.

/*Light gray background as on site footer.*/
$gray-color: #b2b2b2;

/*Dark gray background as on active navigation menu item.*/
$gray-color-menu: #808080;

/*"Black" color for most readable text*/
$dark-color: #333;

/*"White" color as background for most readable text*/
$white-color: #fff;

/*"Foundation" background color*/
$yellow-color: #E0CC00;

/*"Advocacy" background color*/
$green-color: #6abf4b;

/*"Education" background color*/
$blue-color: #3cb4e5;

/*"Professionals" background color*/
$orange-color: #f7931e;

/*"osrt purple" as on header background*/
$header-bg: #3c3c76;

/*orange button color for "log-in" and other buttons*/
$login-bg-color: #FF5F00;

/*orange color for some links formatted as buttons*/
$btn-bg-color: #FF5F00;

/*orange color first line of description in section pages*/
$category-desc-highlight: #FF5F00;

/*Almost-black gray for section page lead text and other titles.*/
$title-color: #4D4D4D;

/*Medium gray for pager controls*/
$pagination-color: #aaa;

/*text color for "news" divider on home page*/
$news-title-color: #B3B3B3;

/* gray background color, as on Memberships and Recognitions blocks on home-page */
$background-banner: #E6E6E6;

/* transparent black color to overlay page-title-banner images for improved readability */
$darkening-overlay-color: rgba(0,0,0,0.35);

$default-content-font-size: 28px;

// Standard variables for spacing:
$horizontal-spacing: 25px;
$horizontal-spacing-md: 25px;
$horizontal-spacing-xl: 30px;
$horizontal-spacing-xxl: 36px;
