/* body.view-category is for Category pages (eg /about-us). */
body.com_content.view-category {
  .siteBody {
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    max-width: revert;
  }
}
