//This is where you can edit your CSS, or better yet, create additional scss files and import them.
//You can compile this to css using the command: sass template.scss:..\css\template.min.css --style compressed

/** Bootrap breakpoints used in this template:
  md: 768px,
  xl: 1200px,
  xxl: 1400px
 */


// Load our local copy of Bootstrap 5.3.2
@import "vendor/bootstrap-5.3.2/functions";
@import "vendor/bootstrap-5.3.2/variables";
@import "vendor/bootstrap-5.3.2/bootstrap";

// Import this file to make columns work in com_content
@import "_modifiers"; // OSRTHORIZON-FIXME: IS _modifiers EVEN NEEDED?
@import "_variables";
@import "_menu";
@import "_header";
@import "_blog";
@import "_alignment";
@import "_contentBody";


//Your Imports Here


//Your CSS Here


*, *:before, *:after{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DIN2014', sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container{
/*  max-width: 1770px;
  margin: 0 auto;*/
  /*padding: 0 15px;*/
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

.btn{
  font-family: "DIN2014-Demi",sans-serif;
  font-size: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: $white-color;
}

.btn-red{
  background-color: $btn-bg-color;
  border-radius: 15px;
}

.btn-blue{
  background-color: $blue-color;
  border-radius: 15px;
  height: 70px;
  width: 240px;
}



//Basic Responsive Images
img{
    max-width: 100%;
    height: auto;
}

// Hide jmodedit and related (when admin user is logged in); they break the layout
// and I don't want to mess with it.
.jmodedit, div[role="tooltip"] {
  display: none !important;
}