//This is where you can edit your CSS, or better yet, create additional scss files and import them.
//You can compile this to css using the command: sass template.scss:..\css\template.min.css --style compressed

/** Bootrap breakpoints used in this template:
  md: 768px,
  xl: 1200px,
  xxl: 1400px
 */


// Load our local copy of Bootstrap 5.3.2
@import "vendor/bootstrap-5.3.2/functions";
@import "vendor/bootstrap-5.3.2/variables";
@import "vendor/bootstrap-5.3.2/bootstrap";

// Import this file to make columns work in com_content
@import "_modifiers"; // OSRTHORIZON-FIXME: IS _modifiers EVEN NEEDED?
@import "_variables";
@import "_siteBody-default";
@import "_body";
@import "_menu";
@import "_header";
@import "_blog";
@import "_alignment-default";
@import "_alignment";
@import "_contentBody";
@import "_employeesBlock";
@import "_home";
@import "_view-category";
@import "_swiper";
@import "_footer";
@import "_utility";


//Your Imports Here


//Your CSS Here

p {
  margin-bottom: 0px;
}

*, *:before, *:after{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}


.container {
  min-width: 320px;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
}
.container.bottom-content {
  margin-top: 2em;
}

// Hide jmodedit and related (when admin user is logged in); they break the layout
// and I don't want to mess with it.
.jmodedit, div[role="tooltip"] {
  display: none !important;
}
.label-warning {
  display: none;
}